{% block nav %}

<nav id="nav" class="bb-light pl-2 pr-2" role="navigation">
	<ul class="row">
		<li class="f-l tt-c fs-s pb-1 pr-2 w-100@t-m"><a class="warn-anchor" href="#">Programmes TV</a></li>
		<li class="f-l tt-c fs-s pb-1 pr-2 w-100@t-m"><a class="warn-anchor" href="#">News</a></li>
		<li class="f-l tt-c fs-s pb-1 pr-2 w-100@t-m"><a class="warn-anchor" href="#">Télé-réalité</a></li>
		<li class="f-l tt-c fs-s pb-1 pr-2 w-100@t-m"><a class="warn-anchor" href="#">Séries</a></li>
		<li class="f-l tt-c fs-s pb-1 pr-2 w-100@t-m"><a class="warn-anchor" href="#">Cinéma</a></li>
	</ul>
</nav>

{% endblock %}
