{% extends '../layout/layout.twig' %}

{% block header %}
	{% include '../partials/_header.twig' %}
{% endblock %}

{% block content %}
	<p>Mon contenu</p>
{% endblock %}

{% block footer %}
	{% include '../partials/_footer.twig' %}
{% endblock %}

