{% extends '../layout/layout.twig' %}

{% block title %}Page article{% endblock %}

{% block header %}

	<header id="header" role="banner">
		<h1>HEADER</h1>
		{% include '../partials/_nav.twig' %}
	</header>
{% endblock %}

{% block content %}
	<p>Mon contenu</p>
{% endblock %}

{% block footer %}
	<p>Mon footer</p>
{% endblock %}

