{% extends '../layout/layout.twig' %}

{% block title %}Page article{% endblock %}

{% block header %}
	<header id="header" role="banner">
		Block header
	</header>
{% endblock %}

{% block content %}
	<p>Block content</p>
{% endblock %}

{% block footer %}
	<p>Block footer</p>
{% endblock %}




